# AWS
boto3==1.34.0

# Kaggle
kaggle==1.6.12

# Database
psycopg2-binary==2.9.9

# Data Processing
pandas==2.1.0
pyarrow==14.0.1

# Airflow
apache-airflow==2.8.0

# dbt
dbt-postgres==1.7.0

# Data Quality
great-expectations==0.18.0

# PySpark
pyspark==3.5.0

# Utilities
python-dotenv==1.0.0
requests==2.31.0